#download {
  background-color: #2dcc97;
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
  border: none;
  border-radius: 5px;
  color: White;
  cursor: pointer;
  font-size: 14px;
  width : 100%;
  height : 100%;
}